[2014-02-11 14:52] butonic opened #2 "Indexing is not working correctly"
_Issue by **[xdmx](https://github.com/xdmx)** from Friday Dec 13, 2013 at 23:58 GMT_
_Originally opened as https://github.com/owncloud/core/issues/6410_

---

I've just done a fresh install of owncloud 6.0 and the linux desktop client 1.5, I'm uploading some files and I see that it creates the records in the oc_jobs table (eg {"app":"search_lucene","klass":"OCA\Search_Lucene\Hooks","method":"doInd

[2014-02-11 14:57] butonic opened #3 "Class 'Zend_Search_Lucene_Document' not found"
_Comment by **[sfabel](https://github.com/sfabel)** from Thursday Feb 06, 2014 at 18:25 GMT_

---

This is what happens with us:

$ sudo -u www-data /usr/bin/php -f /var/www/owncloud-enterprise/cron.php
PHP Fatal error:  Class 'Zend_Search_Lucene_Document' not found in /var/www/owncloud-enterprise/apps/search_lucene/lib/indexer.php on line 66
PHP Stack trace:
PHP   1. {main}() /var/www/owncloud-en

[2014-02-11 15:03] butonic opened #4 "OC 6.0.0.14 / 6.0.0a Error while running background job"
_Issue by **[MBurchard](https://github.com/MBurchard)** from Tuesday Jan 21, 2014 at 17:24 GMT_
_Originally opened as https://github.com/owncloud/core/issues/6876_

---

[code]

The Problem is, this error doesn't tell, what's really wrong.
Any ideas?

[2014-02-11 15:07] butonic opened #5 "[6.0.0a] lucence jobs store path instead of fileid"
_Issue by **[jcfischer](https://github.com/jcfischer)** from Wednesday Dec 18, 2013 at 07:34 GMT_
_Originally opened as https://github.com/owncloud/core/issues/6479_

---
### Expected behaviour

Syncing a directory without any errors
### Actual behaviour

SQL Errors when inserting into oc_jobs
### Steps to reproduce
1. Sync a directory with JPG files (not sure if that is the root cause)
### Server

[2014-02-11 15:11] DeepDiver1975 opened #6 "use composer"

[2014-02-11 15:12] DeepDiver1975 opened #7 "add travis-ci support & scrutinizer"

[2014-02-11 15:13] DeepDiver1975 opened #8 "setup transifex sync"

[2014-02-11 15:24] butonic opened #9 "PDF v. > 1.5 make search_lucene fails"
_Issue by **[AntoineVe](https://github.com/AntoineVe)** from Friday Sep 27, 2013 at 08:38 GMT_
_Originally opened as https://github.com/owncloud/apps/issues/1386_

---

When parsing some PDF files, search_lucene can't handle it and  return error that make background jobs fails.
It's an upstream know error with Zend PDF support.
Maybe add a rule to ignore those files ?

Workaround : convert all PDF

[2014-02-11 15:24] butonic opened #10 "Search in shared files using a single index"
_Originally opened as https://github.com/owncloud/apps/issues/1464_

---
### Steps to reproduce
1.  Alice shares a file with Bob containing the word 'secret'
2. Bob searches for 'secret'
3. He gets a search result for an occurence in the file shared by alice.
### Expected behaviour

Users should be able to find files that have been shared with them by searching in the content.
### Actual behaviour

[2014-02-11 15:24] butonic opened #11 "DB column "oc_queuedtasks.parameters" is too short"
_Issue by **[noldor](https://github.com/noldor)** from Friday Nov 08, 2013 at 13:38 GMT_
_Originally opened as https://github.com/owncloud/apps/issues/1468_

---

DB column "oc_queuedtasks.parameters" is too short.

this column is VERCHAR(256) on mysql. OCA\Search_Lucene\Hook::indexFile() save file path to this column with json_encode(),
but json string is shorten when file path is too long.

prob

[2014-02-11 15:24] butonic opened #12 "Fulltext Search: OC tries to use getID3 to index PDFs / TXTs"
_Issue by **[godrifle](https://github.com/godrifle)** from Friday Nov 15, 2013 at 16:43 GMT_
_Originally opened as https://github.com/owncloud/apps/issues/1493_

---
## Expected behaviour

OC is able to index PDF / TXT files
## Actual behaviour

OC is not able to index the files, error message points to usage of getID3 on the file.
## Steps to reproduce

Upload PDF-File
Make OC try to index it
##

[2014-02-11 15:24] butonic opened #13 "search_lucene Cross-reference streams are not supported yet"
_Issue by **[enoch85](https://github.com/enoch85)** from Wednesday Dec 11, 2013 at 22:15 GMT_
_Originally opened as https://github.com/owncloud/apps/issues/1547_

---

This shows up in my log:

Error search_lucene Cross-reference streams are not supported yet. Trace:\n#0 /var/www/owncloud/apps/search_lucene/3rdparty/Zend/Pdf/Parser.php(460): Zend_Pdf_Parser->loadXRefTable('1391213') #1 /var/www/ow

[2014-02-11 15:30] butonic opened #14 "[OC6 Search Lucene] does not search PDF file"
_Issue by **[ser72](https://github.com/ser72)** from Monday Jan 06, 2014 at 13:32 GMT_
_Originally opened as https://github.com/owncloud/apps/issues/1591_

---

**Expected Results**
Find text in PDF file

**Actual Results**
Unable to find pinpoint file

**Steps**
Load OC6 (in this instance OC6 Enterprise Daily Build 1/6/14)
Create a new file as a link to a PDF -- http://doc.owncloud.com/server/5.0

[2014-02-11 15:31] butonic opened #15 "full text search jobs should use file ids instead of paths in order not to exceed the 256 chars"
_Issue by **[butonic](https://github.com/butonic)** from Monday Apr 22, 2013 at 10:49 GMT_
_Originally opened as https://github.com/owncloud/apps/issues/1048_

---

available in the database colum for job parameters: in the upcoming OO Background jobs (https://github.com/owncloud/core/blob/40de36a8f3dfba5dc6297adbd6c92d8b64c57190/db_structure.xml#L873)
as well as current master: https://github.com

[2014-02-13 22:18] enoch85 opened #16 "Unknown trailer dictionary key: 'ABCpdf'"
I recently got this in my log:

[code]

Error    search_lucene   Unknown trailer dictionary key: 'ABCpdf'. Trace:\n#0 /var/www/owncloud/apps/search_lucene/3rdparty/Zend/Pdf/Trailer.php(67): Zend_Pdf_Trailer->_checkDictKey('ABCpdf') #1 /var/www/owncloud/apps/search_lucene/3rdparty/Zend/Pdf/Trailer/Keeper.php(62): Zend_Pdf_Trailer->__construct(Object(Zend_Pdf_Element_Dictionary)) #2 /var/www/ownclou

[2014-02-14 14:50] JohnnyricoMC opened #17 "No indexing and "Cannot redeclare class Zend_Search_Lucene_Analysis_Analyzer""
### Expected behaviour

Entering a string in the search bar returns filenames and files containing the provided string. Index files are created in /var/www/owncloud/data/username/lucene_index/
### Actual behaviour

In the file list only files containing the string in their filename change background like when users hover the cursor over the file's row. No search results appear. When Full Text Sear

[2014-02-17 15:28] butonic opened #18 "add documentation links to info.xml"
also requires writing documentation for the full text search

[2014-02-19 08:45] butonic opened #19 "cron.php running produces lots of errors "search_lucene need mimetype for content extraction""
_Issue by **[sysrich](https://github.com/sysrich)** from Monday Apr 22, 2013 at 16:42 GMT_
_Originally opened as https://github.com/owncloud/core/issues/3071_

---
### Expected behaviour

cron.php should run without producing a very large amount of errors
### Actual behaviour

cron.php takes a very long time to run (15 minutes and counting) and owncloud.log fills up with "{"app":"search_lucene","m

[2014-02-20 11:49] enoch85 opened #20 ""Unknown trailer dictionary key: 'ABCpdf'"
oops double post. Please delete this.

[2014-02-20 11:52] #20 closed, assigned to nobody

[2014-03-05 16:02] bboule opened #22 "Mounted Drive Search works for Admin Only"
OC 6.0.2
CentOS 6 64 Bit
Apache
MySQL

When mounting a drive that has existing data as the administrator, the contents of the mount are indexed and are searchable by the admin (you can see the index built in the lucene_index folder).  However, when the mount is shared i.e. in the mount external storage section of the admin page you add users, the data on the mount point is not indexed for these us

[2014-03-06 09:34] #22 closed, assigned to nobody

[2014-03-06 14:14] ifba opened #23 "Show content in the result list"
hi, i want to ask how to show the content in the search result.

Thank You

[2014-03-06 14:15] #23 closed, assigned to nobody

[2014-04-28 18:42] LukasReschke opened #26 "Search is broken on current master"
`/index.php/search/ajax/search.php?query=File%20to%20search%20for` returns

[code]

[2014-07-18 15:05] #8 closed, assigned to DeepDiver1975

[2014-07-21 19:47] #26 closed, assigned to nobody

[2014-07-31 08:35] PhilJung opened #29 "ZipArchive::getFromName(): Invalid or unitialized Zip objectPHP / Class 'Zend_Search_Lucene_Exception' not found"
OC 7.0.0 stable
PHP 5.3.13
Apache 2.2
CentOS based server

Encryption enabled on the server.

I have this messages in log :
ZipArchive::getFromName(): Invalid or unitialized Zip object at /app/owncloud/apps/search_lucene/document/Odt.php#30

Class 'Zend_Search_Lucene_Exception' not found at /app/owncloud/apps/search_lucene/document/Odt.php#32

I don't know it the two are related.

[2014-08-02 18:06] j-ed opened #30 "OC7 - calendar and contact search results are not shown in an acceptable format"
## Expected behavior

If you are searching for data containing a specific string, calendar and contact matches should be prefixed with the keyword 'calendar' or 'contacts' like it is done for pictures, files and folders.
Additionally calendar matches should show the event subject beside the date/time period and contact matches should at least show the contact name.
## Actual behavior

If you are s

[2014-08-12 12:22] ferdiga opened #35 "[7.0.1] open directory if search result is a directory"
Klicking on a search result which is a directory should open THIS directory not it's parent.

![image](https://cloud.githubusercontent.com/assets/6248560/3890184/48bd0dce-221b-11e4-8689-38fd58cfb432.png)

[2014-08-12 19:55] csware opened #36 "[7.0.1] search_lucene/3rdparty/Zend/Pdf.php dies on exhaustive memory usage"
cron.php regularly reports "Allowed memory size of 1073741824 bytes exhausted (tried to allocate 294425430 bytes) at /var/www/owncloud/apps/search_lucene/3rdparty/Zend/Pdf.php#1379"

I don't have any more detailed log entries. But I think the search indexer should not die unexpectedly and maybe restrict itself to index only files below a specific file size threshold.

Originally reported here: htt

[2014-08-15 19:09] #2 closed, assigned to nobody

[2014-08-15 19:09] #3 closed, assigned to nobody

[2014-08-15 19:09] #4 closed, assigned to nobody

[2014-08-15 19:09] #5 closed, assigned to nobody

[2014-08-15 19:09] #11 closed, assigned to nobody

[2014-08-15 19:09] #15 closed, assigned to nobody

[2014-08-15 19:09] #17 closed, assigned to nobody

[2014-08-15 19:09] #19 closed, assigned to nobody

[2014-08-15 19:09] #29 closed, assigned to nobody

[2014-08-15 19:09] #36 closed, assigned to nobody

[2014-08-15 19:12] #16 closed, assigned to nobody

[2014-08-15 19:13] #14 closed, assigned to nobody

[2014-08-15 19:14] #13 closed, assigned to nobody

[2014-08-15 19:14] #9 closed, assigned to nobody

[2014-08-15 19:15] #7 closed, assigned to DeepDiver1975

[2014-08-15 19:16] #12 closed, assigned to nobody

[2014-08-15 19:20] #30 closed, assigned to nobody

[2014-08-15 19:21] #6 closed, assigned to nobody

[2014-08-24 17:42] cdamken opened #37 "Full text search plugin doesn't work"
### Expected behaviour

Find in the files some text
### Actual behaviour

Nothing is shown
### Server

ownCloud 6.0.4
### Steps to reproduces
1. Create a txt file with some text that can be searched
2. search some words.
3. No file is shown
### Log file:

[code]

[2014-08-28 09:59] #37 closed, assigned to nobody

[2014-08-28 12:10] LukasReschke opened #39 "Release needs to ship composer_only_3rdparty instead of master"
Currently the 3rdparty dependencies are maintained via the "composer_only_3rdparty" were we include our own hardened and stripped dependencies and then copy them manually master.
This is important since we don't want to ship all parts (e.g. examples) and have performed additional security hardening and security patches to those libraries. While we aim to provide this patches back to upstream handl

[2014-08-28 14:11] butonic opened #40 "drop status table and recreate with id instead of fileId"

[2014-09-29 13:13] josevar0319 opened #41 "the default search engine"
the default search engine, of owncloud when i search an folder and i try to open it. not load the folder. please, fix it.

[2014-10-14 04:24] DeepDiver1975 opened #43 "search lucene is breaking public upload"
error from the log:

[code]

[2014-10-14 16:55] #43 closed, assigned to nobody

[2014-11-14 12:52] conradhagemans opened #44 "Search keeps on indexing"
I cannot use the full-text search functions. I have about 55000 files on the server. Each time you enter a search text it starts to indexing. This takes for ever.
If I switch full-text search off (admin) the results are direct shown.  Ofcourse only on filename search.

[2014-11-17 22:45] enoch85 opened #45 "Encrypted document modification is not supported Trace:\\n#0 \/var\/www\/owncloud\/apps\/search_lucene\/3rdparty\/Zend\/Pdf.php(255)"
Found a new bug debugging another one: https://github.com/owncloud/core/issues/12240#issuecomment-63388646
### Steps to reproduce

Don´t know.
### Expected behaviour

No errors
### Actual behaviour

I get this in owncloud.log:

[code]
### Server configuration

Ubuntu Server 12.04

**Database:**
Server version: 5.5.38-0ubuntu0.12.04.1 (Ubuntu)
**PHP version:**
PHP 5.3.10-1ubuntu3.15 with Suhosin-Pa

[2015-01-05 14:06] equaeghe commented on #17
On 7.0.4 I am still hit by this bug:

[code]

Note that I am on shared hosting, so I cannot touch `/usr`.

Searching has never worked for me. Sometimes, when I try it again, I get a message claiming indexing is going on, but nothing ever really seems to happen.

[2015-01-05 14:09] karlitschek commented on #17
@butonic What do you think?

[2015-01-06 16:04] butonic commented on #17
should be fixed with OC8, which contains search_lucene v0.6

[2015-01-11 10:50] ferdiga commented on #44
Same here OC 7.0.4.2 2M files

### Steps to reproduce
1. add local storage with 2m files
2.
3.

### Expected behaviour
show search results

### Actual behaviour
starts indexing and hangs

### Server configuration
**Operating system**:
Linux
**Web server:**
apache2
**Database:**
mariadb
**PHP version:**
PHP 5.4.4-14+deb7u11
**ownCloud version:** (see ownCloud admin page)
7.0.4.2
**Updated from an o

[2015-01-14 21:36] DeepDiver1975 opened #47 "Improve file deletion"
see https://blackfire.io/profiles/1a32901e-98a8-4663-abf4-f905d7b4e602/graph

[2015-01-14 21:36] DeepDiver1975 commented on #47
@butonic can you please have a look at this? THX

[2015-01-15 14:10] DeepDiver1975 opened #48 "background jobs are not specific to the triggering actions - as a result executed too often"

[2015-01-15 14:12] DeepDiver1975 commented on #48
@butonic let chat these days - thx

[2015-01-15 14:28] DeepDiver1975 opened #49 "index delete job is not multi user compliant"
what happens:
1. index for the logged-in user is created
2. all deleted files are queries from the db without the user being involved
3. index is cleanup for the given user
4. BUT NOT for other users

@butonic let's chat about this as well

[2015-01-15 14:31] DeepDiver1975 opened #50 "adding occ commands to rebuild indices / optimize indices"

[2015-01-27 11:26] DeepDiver1975 commented on #48
moving to 8.1

[2015-01-27 11:27] DeepDiver1975 commented on #47
has been fixed with https://github.com/owncloud/search_lucene/pull/51

[2015-01-27 11:27] #47 closed

[2015-01-29 11:09] nickvergessen opened #55 "Search results only found in .pdf and .odt files"
Original reported in https://github.com/owncloud/core/issues/13685 by  @jnfrmarks

### Steps to reproduce

1. Install owncloud
2. Upload a .txt file that contains the word owncloud (or, create one locally)
3. Upload a pdf file that contains the word owncloud
4. upload a doc/docx file that contains the word owncloud
5. upload an xlsx file that contains the word owncloud
6. upload an odt file that c

[2015-01-29 11:28] nickvergessen opened #56 "Files in sub-folders maching search results not clickable"
Original reported in https://github.com/owncloud/core/issues/13686 by @jnfrmarks

### Steps to reproduce

1. Install owncloud
2. Upload an odt or pdf file that has owncloud in it
3. Create a subfolder
4. Upload a bunch of odt or pdf files that have owncloud in them
5. Search from the root for owncloud

### Expected behaviour

All files displayed in the search results to be clickable

### Actual be

[2015-01-29 13:56] karlitschek commented on #55
@butonic

[2015-01-29 20:38] butonic commented on #55
@nickvergessen Did the cronjob have time to run? Files are indexed in the background and will eventually becoma available in the search results.

[2015-01-29 21:50] nickvergessen commented on #55
@butonic I have no idea, @jnfrmarks reported it, I just moved the issue to the correct repo

[2015-02-04 09:37] butonic commented on #56
closing, see https://github.com/owncloud/core/issues/13687#issuecomment-72069043

[2015-02-04 09:37] #56 closed

[2015-02-04 09:38] butonic commented on #55
closing, see https://github.com/owncloud/core/issues/13687#issuecomment-72069043

[2015-02-04 11:50] stv0g opened #58 "Missing status of current search index"
I'm missing a way to see the current status of the Lucene index.
Maybe a short status line in the configuration would be nice.

[2015-02-04 11:54] stv0g opened #59 "Array to string conversion at .../apps/search_lucene/3rdparty/zendframework/zendsearch/library/ZendSearch/Lucene/Storage/File/AbstractFile.php#341"
I'm getting this error in my Logfile.

I'll provide detailed information if necessary.

Owncloud: 8.0 RC1
search_lucene: latest master branch

[2015-02-04 12:27] karlitschek commented on #58
@butonic

[2015-02-04 13:06] butonic commented on #58
@stv0g I want to move to a central index to allow implementing search in other files. Then this will be added to the admin page. A status in the user page also makes sense. Actually you may want to exactly know the indexing status for each of your files. That requires adding a message column to the lucene status table ... and I need an Idea how and when to show that in the UI. I was thinking of a

[2015-02-04 13:20] jancborchardt commented on #58
If it’s still indexing, hovering over the search icon could show a tooltip saying `Indexing … 45 %`. When it’s done, nothing should be shown.

[2015-02-04 15:07] stv0g commented on #58
Yeah, I noticed that. Unfortunately this popup only pops up for fraction of a second.
I think we could do better in terms of usability.

I like the solution @butonic proposed. There are  a lot more infos OC could provide for a file or directory.
Last accessed, sharing status, etc.. But thats something which has to be added to the core I guess.

[2015-02-04 16:00] jancborchardt commented on #58
Let’s start with the most simple and non-invasive thing first. If we feel then that we need more, we can still do that.

The fact that we _could_ provide more info on something does not mean we _should_.

[2015-02-05 20:54] butonic commented on #58
Ok, so where do I put info about indexing errors? On the users status page? Together with a reindex option?

Am 4. Februar 2015 17:00:16 MEZ, schrieb Jan-Christoph Borchardt <notifications@github.com>:

--
Diese Nachricht wurde von meinem Android-Mobiltelefon mit K-9 Mail gesendet.

[2015-02-06 13:10] jancborchardt commented on #58
Just have the tooltip be permanent (to the left of the search icon) and say: »Indexing error, click to rescan«

[2015-02-08 16:47] stv0g commented on #58
... and the current index status below the disk quota on the user page.

[2015-02-12 22:21] enoch85 opened #60 "Integrity constraint violation: 1062 Duplicate entry '0' for key 'PRIMARY'"
### Steps to reproduce

Don´t know.

### Expected behavior

No errors

### Actual behavior

Please see owncloud.log entries.

### oc_lucene_status table

[code]

### Server configuration

Ubuntu Server 14.04

**Database:**
Server version: 5.5.41-0ubuntu0.14.04.1 - (Ubuntu)
PHP version:
PHP 5.5.9-1ubuntu4.5 (cli) (built: Oct 29 2014 11:59:10)

**ownCloud version: (see ownCloud admin page)**
8.0
*Up

[2015-02-13 02:04] karlitschek commented on #60
@butonic Can you have a look?

[2015-02-13 12:12] DeepDiver1975 commented on #60
@butonic the reason with this error is that the function getOrCreateFromFileId() in
 https://github.com/owncloud/search_lucene/blob/master/db/statusmapper.php#L192 is not atomic.

Better user insertIfNotExist() on IDBConnection

[2015-02-15 16:15] enoch85 opened #61 "Log flooded with "Error search_lucene Secured pdf file are currently not supported.""
### Steps to reproduce

Don´t know.

### Expected behavior

Logged as debug maybe? Either way, I expect no errors when I'm not logging debug messages.
CC @butonic

### Actual behavior

[code]

### Server configuration

Ubuntu Server 12.04

**Database:**
Server version: 5.5.41-0ubuntu0.12.04.1 - (Ubuntu)
PHP version:
PHP 5.5.9-1ubuntu4.5 (cli) (built: Oct 29 2014 11:59:10)

**ownCloud version: (see

[2015-02-15 18:37] karlitschek commented on #61
@butonic can you have a look please?

[2015-02-15 18:46] butonic commented on #61
Agreed, should be debug level log.

[2015-02-17 21:03] enoch85 opened #62 "pack(): Type H: illegal hex digit & PHP Uninitialized string offset:"
Sorry @butonic but it seems like there are more problems now with search_lucene than it was in oC 7. I'm getting numerous errors, and here are some more logs with different errors. Sorry for not knowing what causes them, but I figure that you maybe can interpret this better than I can?

### Steps to reproduce

Don´t know.

### Expected behavior

No errors

### Actual behavior

[code]

### Server c

[2015-02-19 21:27] Killer1337 commented on #61
I am getting these too. What's behind it?

[2015-02-20 02:38] karlitschek commented on #61
@butonic Can you help to fix that?

[2015-02-21 21:16] Killer1337 opened #64 "cron job creating high load"
since upgrading to owncloud 8 I am getting a lot of emails that another cron job is still running and a new one can't be started.

At first I thought there was something wrong with the news app, since that was the only one I had in mind using the cron job to fetch new feeds. The issue is discussed here: https://github.com/owncloud/core/issues/3221

But just now I received this email from cron:

[2015-02-22 17:22] karlitschek commented on #64
This should be fixed in 8.0.1 Thanks for reporting this.

[2015-02-22 17:22] #64 closed

[2015-02-25 09:11] DeepDiver1975 commented on #64
not really - the execution timeout was fixed for console commands - not for cron

I'll open up a ticket in core - THX

[2015-02-25 09:12] DeepDiver1975 commented on #64
@butonic it might still be interesting to find out why that execution takes that long and if we might better break up some things into smaller pieces

[2015-03-04 08:30] MorrisJobke commented on #61
Will be fixed with 8.0.2

[2015-03-09 18:53] staehler opened #68 "Indexing of external storage"
As long this app is not able to index external storage, it is unfortunately useless for my environment. Do you plan to integrate indexing of external storage as well?
I would appreciate that!
My file storage is a nas, but owncloud runs on a separate server, as my nas isn't perfomant enough.

Kind regards, Michael

[2015-03-15 09:23] Regaddi commented on #59
Confirmed.

    Error	PHP	Array to string conversion at /var/www/vhosts/stuff-it.de/owncloud/apps/search_lucene/3rdparty/zendframework/zendsearch/library/ZendSearch/Lucene/Storage/File/AbstractFile.php#341	2015-03-14T18:45:28+00:00

[2015-03-16 09:27] buxit opened #69 "PostgreSQL error with ownCloud 8.0"
since upgrading to owncloud 8.0 i have the following problem with search_lucene (usinge postgresql as bacend):

[code]

[2015-03-16 12:10] karlitschek commented on #69
@butonic any idea?

[2015-03-17 09:40] buxit commented on #69
I have done a little research on this now:

Postgresql `lastval()` only works on sequences and the `fileid` column is not a sequence. You could make an `INSERT` query `RETURNING fileid`.

Since `fileid` is known in php in advance you could just use this value instead:

(db/statusmapper.php:79)
[code]
There is probably a cleaner way to do this.

[2015-03-17 12:12] hupebln commented on #60
Are there any news related to that issue? I got the same issue and don't know how to fix that or if it has any impact to my ownCloud.

[2015-03-20 12:13] resound88 opened #70 "Old files aren't removed from search index"
Hi together,

accidentally I noticed, that old files aren't immediately removed from the search index, after they get deleted.
A run of the cronjob doesn't change anything.

I'm not sure if this is a known limitation or a bug.

I can reproduce it on Debian 6.
Meanwhile I use version OC version 8.0.2.

Best regards

[2015-03-20 13:58] karlitschek commented on #70
@butonic any idea?

[2015-03-25 09:43] witchi opened #71 "Re-Index"
How I can manually re-index all files of a user?

[2015-03-25 13:09] jurgenhaas opened #72 "Maximum function nesting level of '100' reached, aborting!"
The above error is happening on my 8.02 installation and the stack trace looks like this:

[code]

Any idea what that could be?

[2015-03-25 14:04] DeepDiver1975 commented on #72
please disable xdebug on productive instances or increase  xdebug.max_nesting_level - see http://xdebug.org/docs/basic

[2015-03-25 14:04] #72 closed

[2015-03-26 12:53] dgerasimov commented on #60
Same problem here. I disabled search Lucene for now. Is there any other solution?

[2015-03-26 13:24] butonic commented on #60
I'll have a look.

[2015-03-26 14:02] butonic commented on #69
@buxit https://github.com/owncloud/search_lucene/pull/73 changes the way the status is inserted. It should fix this issue as a side effect. Can you verify?

[2015-03-26 14:15] butonic commented on #70
With oc8 we moved to a background job that cleans up deleted files in the status table. It runs every 10min and decouples the delete from file operations which speeds up sync performance on deletes. For search this time limited inconsistency between files and index (or search results) is considered acceptable.

Closing as this works as designed.

@resound88 Can you verify that your deleted files m

[2015-03-26 14:26] dgerasimov commented on #60
OK, now I have this in log file - "app":"PHP","message":"Call to undefined method OC\\AppFramework\\Db\\Db::insertIfNotExist() at \/var\/www\/owncloud\/apps\/search_lucene\/db\/statusmapper.php#193","level":3.

[2015-03-26 14:49] butonic commented on #71
Currently there is no UI for that. You have to DELETE the fileids belonging to a user from the status table.
If you only have a user ID you can check the full text indexing status of the users root storage by executing
[code]

After deleting these ids from the status table lucene will reindex on the next cron run. On mysql you need a temp table hack or you will encounter `ERROR 1093 (HY000): You c

[2015-03-26 14:50] #60 closed

[2015-03-26 14:53] enoch85 commented on #60
@dgerasimov Please open a new issue for that. Thanks.

[2015-03-27 06:30] dgerasimov opened #74 "Error PHP Call to undefined method OC\AppFramework\Db\Db::insertIfNotExist()"
### Steps to reproduce
1. After implemeting this solution https://github.com/owncloud/search_lucene/pull/73

### Expected behaviour

No errors

### Actual behaviour

Please see owncloud.log posted bellow

### Server configuration
**Operating system**:

Debian GNU/Linux 7.6 (wheezy)

**Web server:**
nginx/1.2.1

**Database:**
Server version: 5.5.40-0+wheezy1 (Debian)

**PHP version:**
PHP 5.4.36-0+

[2015-03-27 07:54] resound88 commented on #70
@butonic Not even after 12 hours the search index is refreshed on our instance. What information do you need for further investigation?

[2015-03-27 08:46] butonic commented on #70
Looking at the code, this seems to be a side effect of https://github.com/owncloud/search_lucene/issues/49. Following up there.

[2015-03-27 08:53] butonic commented on #49
The job has to be user specific so we can delete the file from the right index. Looking at the code there is bug #70. The delete job fetches all deleted fileids (from all users) and tries to delete them from a single users index. Next time the job is run for a different user. No deleted files will be found and the index will not get cleaned up.

Will get fixed by https://github.com/owncloud/search

[2015-03-27 09:14] karlitschek commented on #74
@butonic any idea?

[2015-03-29 18:10] ma-ver-ick opened #75 "[oc 8.0.2] SQLSTATE[22001]: String data, right truncated: 1406 Data too long for column 'argument' at row 1"
Hello!

The owncloud log is flooded with the following messages:

[code]

What to do? Is it allowed (as a workaround) to enlarge the column? I'm using MySQL

[2015-03-30 08:22] DeepDiver1975 commented on #75
@ma-ver-ick what versions are you using?

[2015-03-30 09:00] ma-ver-ick commented on #75
Owncloud 8.0.2 and search_lucene 0.6.0.

[2015-03-30 11:24] bennidi commented on #61
It seems I am still seeing this error in 8.0.2 (stable) running on Ubuntu 14.04 with PHP 5.5.9-1ubuntu4.7php.

Log excerpt (Error Search Lucene):
```Object list not found. Possible secured file. Trace:\n#0 /var/www/owncloud/apps/search_lucene/document/pdf.php(35): Smalot\PdfParser\Parser->parseContent('%PDF-1.5?%?????...') #1 /var/www/owncloud/apps/search_lucene/document/pdf.php(69): OCA\Search_Lu

[2015-03-30 19:29] witchi commented on #71
Thank you, it works!

[2015-03-30 19:29] #71 closed

[2015-03-30 19:38] witchi opened #76 "Downloadable files direct from the search result list"
I would like to have a functionality, which allows me to download the files of the search result directly.
To find the right document, I search for a keyword and I'll get some files, which match. Then I can find the right file by the filename, but ofter I have to open the file to get the right one. So it would be nice to open the files directly from the search list instead jumping to the file fold

[2015-03-30 22:03] VicDeo commented on #75
hm argument length is 256 for 8.x
https://github.com/owncloud/core/blob/stable8/db_structure.xml#L982
and 4000 for master
https://github.com/owncloud/core/blob/master/db_structure.xml#L899

[2015-03-30 23:43] VicDeo commented on #41
@josevar0319 ping. Please update the issue as requested above

[2015-03-31 00:08] VicDeo commented on #74
@dgerasimov because #60 is for master.
`OC\AppFramework\Db\Db::insertIfNotExist` function exists in master
 https://github.com/owncloud/core/blob/master/lib/private/appframework/db/db.php#L136
and is not implemented for stable8  https://github.com/owncloud/core/blob/stable8/lib/private/appframework/db/db.php

[2015-03-31 00:21] VicDeo commented on #75
@ma-ver-ick I guess you are upgraded from OC7. How long ago it happened?

[2015-03-31 05:55] ma-ver-ick commented on #75
Not long ago, I rechecked and search_lucene hasn't been upgraded :( I upgraded now but I can't confirm that the database column has been upgraded, as I did that manually before.
The oc upgrade from 7 to 8 is AWFUL.

So I can upgrade it to 4000 manually and everything should be ok? Still lucene should rethink that argument, there are still path's that could be longer than 4000 (but more unlikely as

[2015-03-31 13:42] DeepDiver1975 commented on #74
invalid configuration -> close

[2015-03-31 13:42] #74 closed

[2015-04-01 14:35] VicDeo commented on #69
#73 is not applicable to stable8 sincz https://github.com/owncloud/core/pull/14468 is not ported there

[2015-04-01 22:53] VicDeo commented on #55
Can't reproduce for master. After a short time that is required to index the file content, it appears in the search results

[2015-04-01 23:02] VicDeo commented on #55
@jnfrmarks core doesn't search by content but search_lucene does. It is not clear from initial issue (https://github.com/owncloud/core/issues/13685), whether you have this app enabled. Content should be indexed by a cron job

[2015-04-06 18:05] VicDeo commented on #75
@ma-ver-ick method `doIndexFile` and was removed here https://github.com/owncloud/search_lucene/commit/ae8f726754b6630f27e09df382d9aa2a027d0593#diff-01a8cbfd57776618e73594448f061365

I guess you  need to update the app  from the current stable8 branch https://github.com/owncloud/search_lucene/archive/stable8.zip

@DeepDiver1975 this seems to be fixed for OC8

[2015-04-06 18:09] VicDeo commented on #75
Stable7 still affected (argument is too small to have a long path inside):
https://github.com/owncloud/search_lucene/blob/stable7/lib/hooks.php#L58
https://github.com/owncloud/core/blob/stable7/db_structure.xml#L978

[2015-04-06 23:30] VicDeo commented on #69
@buxit this line is not needed at all, like  https://github.com/owncloud/search_lucene/issues/79

[2015-04-08 16:06] VicDeo commented on #74
@dgerasimov for ownCloud 8 please use https://github.com/owncloud/search_lucene/pull/79

[2015-04-13 21:16] VicDeo commented on #35
Not related to fulltext search. (And fixed in master)

[2015-04-13 21:16] #35 closed

[2015-04-13 22:11] VicDeo commented on #35
Closed as a duplicate of https://github.com/owncloud/core/issues/11353

[2015-04-13 22:19] VicDeo commented on #45
@enoch85 Are you on OC7.x still?

[2015-04-13 23:04] enoch85 commented on #45
@VicDeo Nope, 8.0.2

[2015-04-14 07:39] VicDeo commented on #45
@enoch85 is this still reproducible with 8.0.2?

[2015-04-14 08:15] DeepDiver1975 opened #81 "Log polluted - Error while running background job: Path exists, but it's not a directory"
No need to log this - simple ignore

[code]

[2015-04-14 14:02] enoch85 commented on #45
@Videco Sorry, I don't know as I don't check the logs as I did in 7 anymore. And also, I turned off search lucene as it's manily log outputs anyway.

[2015-04-14 18:54] VicDeo commented on #81
@DeepDiver1975 this message  is produced by ZendSearch exception. Any chance to have a full stacktrace?

[2015-04-14 20:00] VicDeo commented on #81
@DeepDiver1975 please disregard a previous comment. I have one.

[2015-04-14 21:37] VicDeo commented on #81
@DeepDiver1975 the storage is wrapped with encryption wrapper even when the Encryption app is disabled. It overrides getLocalFile implementation.
![storage](https://cloud.githubusercontent.com/assets/991300/7147941/6d70afb0-e307-11e4-9c9d-9ca458793e6e.png)

[2015-04-14 23:18] enoch85 commented on #61
@MorrisJobke Any comment on @bennidis post?

[2015-04-14 23:26] VicDeo commented on #81
@DeepDiver1975 ok, fix is pushed. Just for the note: overriding `getLocalFile` as above makes nearly impossible to get an absolute path from `OC\Files\Node\File` object instance and might affect many other apps.

[2015-04-15 22:02] sedrubal commented on #61
can confirm that it is not fixed in `8.0.2`. After catching any exception a new one will be thrown and there is a `TODO` comment ;)

[2015-04-16 02:03] enoch85 commented on #61
@sedrubal Thanks for the confirmation.

[2015-04-16 19:28] VicDeo commented on #61
@sedrubal 8.x doesn't ship Search Lucene anymore and the app is not updated with OC update.
Please try with recent stable8 branch https://github.com/owncloud/search_lucene/archive/stable8.zip

[2015-04-19 11:50] sedrubal commented on #61
I have the latest version of `search_lucene` on branch `stable8` installed. I also detected that the search does not work at all since upgrading to `oc8`

[2015-04-21 14:56] stonerl opened #83 "Cron deadlock"
### Actual behaviour

Lately I observed a strange behavior. I run cron.php from my system every 15 mins, but cron.php did not get executed for days. So I deleted the cron.lock file but after 2 or 3 runs the same error appeard.
So I executed cron.php manually and got this error:

[code]
When this happens the cron.php does not get executed any further, therefore the cron.lock won't be removed which

[2015-04-23 10:27] DeepDiver1975 commented on #83
@VicDeo can you please have a look - THX

[2015-04-24 17:30] VicDeo commented on #83
Hm... smells like an old PHP bug http://php.net/manual/en/function.iconv.php#108643

[2015-04-24 17:39] VicDeo commented on #83
@stonerl is anything written to owncloud.log additionally?

[2015-04-24 17:51] VicDeo commented on #61
@sedrubal can you show me where the new exception is thrown?
As I see it is handled here
https://github.com/owncloud/search_lucene/blob/stable8/lucene/indexer.php#L149

[2015-04-24 18:41] VicDeo commented on #45
Encrypted PDF is not supported indeed. So the message is decent.
The only issue I see is a log level. There is no need to log this as an error.

[2015-04-24 21:43] sedrubal commented on #61
ah I'm sorry, I have the same file as it  is in the git and I can't find the error anymore. So it semms to be fixed...

[2015-04-26 13:00] #61 closed

[2015-04-27 12:02] stonerl commented on #83
[code]

I don't know if this error is anyhow related but I got tons of those entries.

[2015-04-27 14:21] VicDeo commented on #83
@stonerl
Yes, this is definitely related. What version of search lucene do you have?

[2015-04-27 15:42] #81 closed

[2015-04-27 16:12] VicDeo commented on #45
`stable7`-specific

[2015-04-27 16:20] VicDeo commented on #44
@butonic @DeepDiver1975
I guess we need index N files per iteration. Let's say 20 files in one go. What do you think?

[2015-04-27 17:52] butonic commented on #44
indexing should become a background job only. we can then index all files in the background. the admin settings page can then show the number of currently indexed files. Note that before that we should move to a single index, see https://github.com/owncloud/search_lucene/issues/10

[2015-04-27 21:48] stonerl commented on #83
The one that came with ownCloud 8.0.2. 0.6.0 I suppose.

[2015-04-27 21:50] VicDeo commented on #83
@stonerl it's not shipped with OC8

[2015-04-27 21:56] stonerl commented on #83
Hmm. I use the ppa for Ubuntu. But anyway, this Version is installed:
![screen shot 2015-04-27 at 23 55 01](https://cloud.githubusercontent.com/assets/2091312/7358866/09232e20-ed39-11e4-9cde-aad8912925da.png)

[2015-04-28 08:57] DeepDiver1975 commented on #44
didn't we have some serious concerns with respect to use a single index? Maybe I miss something ...

[2015-04-28 08:58] DeepDiver1975 commented on #44
this is already the case - or do I miss anything?

[2015-04-28 20:03] VicDeo commented on #44
@DeepDiver1975 no, it starts indexing while search box is clicked too https://github.com/owncloud/search_lucene/blob/master/js/checker.js#L45

[2015-04-28 20:08] VicDeo commented on #44
@DeepDiver1975 @butonic let's discuss single index further in #10
I interested in the concerns behind it

[2015-04-29 18:05] BenjaminXiao commented on #64
I am still getting this issue on 8.0.2.

Maximum execution time of 3600 seconds exceeded in /var/www/owncloud/apps/search_lucene/3rdparty/zendframework/zendsearch/library/ZendSearch/Lucene/Analysis/Analyzer/Common/Utf8Num.php on line 85

This is using the system cron job

[2015-04-29 21:26] BenjaminXiao commented on #64
I disabled the Search Lucene plugin and it seems to have fixed the issue.

[2015-05-04 15:23] VicDeo commented on #10
would be nice to combine with https://github.com/owncloud/search_lucene/issues/40

[2015-05-07 09:44] nickvergessen opened #85 "Verify the OCS ID"
The current entry of the ocsid is `166057` in all branches:
https://github.com/owncloud/search_lucene/blob/master/appinfo/info.xml#L44
https://github.com/owncloud/search_lucene/blob/stable8/appinfo/info.xml#L44
https://github.com/owncloud/search_lucene/blob/stable7/appinfo/info.xml#L34

However that app is only for oC 7: https://apps.owncloud.com/content/show.php?content=166057
oC 8.0 (and later**

[2015-05-08 07:45] scream88 commented on #76
That is exactly my point of pain at the moment.
I've a lot of scanned searchable pdfs. All names image#.pdf. So the search works fine to find the right contend. If I get multiple files as results I have to jump in every folder, search for the right document manually. I would like if I click on the file in search results the pdf-preview in browser should open directly.

[2015-05-11 08:13] GMTA commented on #64
I am also experiencing cron hangs with Lucene search enabled. After disabling the search app, the cron hang disappears. No new Lucene entries appear in the log file when the process hangs with 100% CPU so it seems there is something wrong in the indexing process. This does not appear to be related to the lock file issue.

[2015-05-12 07:06] arm2arm commented on #64
same here, when user has more than 10000 files it fails.After disabling full text search app everything is ok.

[2015-05-15 14:28] renjithkathirolil opened #87 "search_lucene search result files can't open(pdf, docx. txt etc..)"
can't open search result in search_lucene
if it possible to add text with text result

[2015-05-20 09:38] MorrisJobke commented on #85
So we simply need to change this in stable8 and master to `168709`?

[2015-05-20 09:44] nickvergessen commented on #85
well, master might need a new ocsid, im not familar with that.

[2015-05-21 09:44] DeepDiver1975 commented on #85
well - one app - one id????

The app should be listed in the appstore only once as well?

hmmm - I don't get the concept - sorry

[2015-05-21 09:57] nickvergessen commented on #85
Well as far as I understand it, the app store can only contain one download for one ocsid. So we can not provide different versions depending on the requested oC version. Thats why "they" started to use multiple entries for each version.

[2015-05-21 20:58] scream88 opened #88 "Can't open search result"
Steps to reproduce:
Search in OwnCloud fulltext search in users root folder for a string in a document.
A few pdf-documents are displayed. Click on one of them to open them.

Expected behaviour:
Possibility 1: Open the pdf-preview to show the selected file.
Possibility 2: Jump in folder location and scroll to the right file & mark them.

Actual behaviour:
Only jump in the file-location folder. No

[2015-05-26 11:23] DeepDiver1975 commented on #88
@VicDeo can you please have a look? THX

[2015-05-26 11:37] scream88 commented on #88
Update: Add Pictures.
Picture 1:
Searching for a string in a Document and select File "image.58.pdf"
![owncloud_search_issue_1](https://cloud.githubusercontent.com/assets/12324196/7811637/4b63d3a0-03ac-11e5-9edd-edcfd22cee8a.JPG)

Picture 2:
It jumps to the folder "pdf / 2013" but don't show the file "image.58.pdf" and also not open it. Im on top of the folder and have to scroll down to the right

[2015-05-26 21:55] skorvek commented on #83
I'm a bit confused. I am getting the exact same error message.

My cron hasn't been able to run since March. I have had nothing but problems with the search app anyway-- always stalling in my browser and never completing. So I disabled it and tried to run cron from the command line, and I STILL get the same error message!

How is that possible?  It is listed as disabled in my apps.  It is at the s

[2015-05-27 12:54] karamatos commented on #83
I have exactly the same problem with ownCloud 8.0.3 on Debian 7.

[2015-05-31 09:53] piotr58 commented on #83
I think i have the same thing with OC 8.0.3 on Debian 7 also. I have millions lines (more than 300 GB) in owncloud.log like:
`{"reqId":"c361f350b23a8e8bfc88ade2923b75a3","remoteAddr":"","app":"PHP","message":"Uninitialized string offset: 1345613 at \/var\/www\/owncloud_prod\/apps\/search_lucene\/3rdparty\/zendframework\/zendsearch\/library\/ZendSearch\/Lucene\/Storage\/File\/AbstractFile.php#290",

[2015-06-03 22:33] VicDeo commented on #83
@piotr58 a bug can't solve itself and I have no idea how to reproduce it.
Your logs looks like https://github.com/owncloud/search_lucene/issues/62 to me.

Could you check if the issue persist with the app version from stable8 branch?

[2015-06-04 18:25] stonerl commented on #83
@VicDeo I don't know if this helps but on my server there where files with names like: 漢字undRomaji.txt
A mixture of Japanese Kanjis and western Characters.

[2015-06-04 18:37] stonerl commented on #83
I should have explained this a little more. When you use Japanese there are different Characters you can choose from:

1. Kanjis 漢字
2. Hiragana ひらがな
3. Katakana カタカナ
4. Romaji western letters

Katakana can be displayed in half-width: ｶﾀｶﾅ and full-width カタカナ
The same goes for for western Characters ＦＵＬＬ　NORMAL
And there are many more. And you can mix them all together in a file-name. Maybe when su

[2015-06-17 13:58] #75 closed

[2015-06-17 13:59] DeepDiver1975 commented on #75
please upgrade - thx

[2015-06-25 21:27] cmonteroluque commented on #55
@jnfrmarks @VicDeo I'd love to clean this out. Is @VicDeo's comment sufficient to close this?

[2015-06-26 14:28] jnfrmarks commented on #55
Yes; this looks really to be a dup of what was in core.

[2015-06-26 14:28] #55 closed

[2015-07-08 08:13] Aikhjarto opened #90 "oc_queuedtasks doesn't exist but is accessed"
I just upgraded from 8.0.5 to 8.1 and wanted to enable search_lucene again. However, the upgrade of serach_lucene tries to access oc_queuedtasks which is deprecated according to https://doc.owncloud.com/server/8.0/ownCloudServerAdminManual.pdf and not existing on my system any more.

[code]

IMHO the upgrade shouldn't stop if a deprecated table is not existing.

[2015-07-09 11:02] scream88 commented on #88
Same issue with OwnCloud 8.1 and seach_lucene 0.6.0. Bugfix please.

[2015-07-10 20:03] karlitschek commented on #90
@butonic Can you have a look please?

[2015-07-18 20:36] LukasReschke opened #95 "Unit tests failing on master"

[2015-07-20 09:39] DeepDiver1975 commented on #90
access during upgrade - https://github.com/owncloud/search_lucene/blob/master/appinfo/update.php#L16

[2015-07-20 10:15] #95 closed

[2015-08-02 15:20] hoschmieder opened #96 "background job stops with "Can't obtain shared reading index lock""
Environment:
CentOS 7.1
Owncloud 8.1 (latest) from OC-Repro
about 30 User, about 100GB Files
When i am running (as apache) "php /var/www/html/owncloud/cron.php" i get the following error:
================================================================
{"reqId":"JICzl\/JsqrfXXg9xbPy7","remoteAddr":"","app":"PHP","message":"Undefined index: REQUEST_URI at \/var\/www\/html\/owncloud\/apps\/contacts\

[2015-08-02 15:42] karlitschek commented on #96
@butonic can you have a look?

[2015-08-07 08:53] fifh opened #97 "ODT documents badly indexed (and proposed fix)"
### Steps to reproduce
1. create a new odt document "test.odt" with this content : <BR>
new<BR>
libreoffice<BR>
document
2. wait for indexing (or run cron.php) and then search "libreoffice"

### Expected behaviour
OC (actually the "search lucene" app) should find the test.odt document

### Actual behaviour
OC doesn't find it
Actually the last word of each line (except the last line) and the first

[2015-08-07 11:17] DeepDiver1975 commented on #97
Thanks a lot for the fix! Please submit a pull request - THX

[2015-08-07 11:18] DeepDiver1975 commented on #97
@butonic @VicDeo FYI

[2015-08-07 12:40] fifh commented on #97
Ok, here is the pull request : https://github.com/owncloud/search_lucene/pull/98

[2015-08-12 10:41] michag86 opened #99 "installation on owncloud 8.1 from integrated appstore failes"
Installation of search_lucene failes on owncloud 8.1 from integrated appstore.
directory name in package is wrong
Actual name: search_lucene-8.1.1
Expected name: search_lucene

[2015-08-12 12:34] Bosborus commented on #96
Do you have the encryption app enabled?

[2015-08-12 14:38] DeepDiver1975 commented on #99
@VicDeo can you please upload the correct archive?

[2015-08-12 16:34] VicDeo commented on #99
@michag86  @DeepDiver1975 Done.
Published as https://github.com/owncloud/search_lucene/releases/download/8.1.1/search_lucene.zip

[2015-08-12 16:38] michag86 commented on #99
Works! Thank you!

[2015-08-12 16:38] #99 closed

[2015-08-13 12:15] alexplusde commented on #90
As I had the same problem and didn't find any solution for this problem, I will document my "solution":
I commented out #16 and #17, ran the upgrade and set the config.php maintanance value back to false. This worked for me.

Please don't forget to provide information that will help non-developers (like me) to solve their problems.

[2015-08-25 12:08] #90 closed

[2015-08-31 16:57] scream88 commented on #88
@VicDeo Can you have a look at this open bug?

[2015-09-02 17:57] VicDeo commented on #69
https://github.com/owncloud/search_lucene/pull/79 is merged
Closing as fixed in master/stable8.1/stable8

[2015-09-02 17:57] #69 closed

[2015-09-02 18:22] #97 closed

[2015-09-02 18:34] scream88 commented on #88
Thank you verry much. Works perfect!

[2015-09-03 17:43] #88 closed

[2015-09-09 11:09] pierrejochem opened #106 "[8.1.1] Problems with the cron job"
Hi Guys,

I get this error while running the cron job:

PHP Fatal error:  Call to a member function isLocal() on a non-object in /var/www/owncloud/apps/search_lucene/db/statusmapper.php on line 173

Any ideas?

[2015-09-09 12:01] karlitschek commented on #106
@butonic What do you think?

[2015-09-17 16:57] kas70 commented on #90
i got the same error when upgrading stable to 8.1.3.
@alexplusde can you tell me which lines i have to comment out?

[2015-09-18 05:09] joede opened #108 "Enable fails with upgrade loop"
I've upgraded my OC704 installation to 8.1.1 two week ago. After this upgrade, I've tried to enable Lucene Search. This fails. Directly after the activation, OC presents it's "start upgrade" page. This ends up with the following error message:

[code]

The upgrade never leads to an login again. So I had to login with SSH and remove the app directory of `search_lucene`.

In the G+ group of ownCloud

[2015-09-18 07:53] karlitschek commented on #108
@butonic can we fix this?

[2015-09-21 11:49] VicDeo commented on #108
This is already fixed with https://github.com/owncloud/search_lucene/pull/102
What we need is to publish a fix

[2015-09-21 14:44] joede commented on #108
@VicDeo hmm.... As far as I understand the conversation in #102, the problem should be solved. Or do you mean the app itself (lucene_search) must be published?

[2015-09-22 09:56] scream88 opened #109 "Search Lucene didn't work after update to owncloud 8.1.3"
Hi all

After Upgrade to Owncloud 8.1.3 Stable the Search_Lucene App didn't work anymore.

I have reenabled the app in the Admin-Panel. Search don't find any content, only filenames and also I can't see an indexing-stauts at the search bar.

[2015-09-26 11:54] RealRancor commented on #108
@joede Yes, a new release of search_lucene at the appstore is needed as the app is not shipped anymore in oC 8.1.

To get update notifications you can subscribe to the app page at https://apps.owncloud.com

[2015-09-26 15:38] karlitschek commented on #108
@butonic Can you publish a new release? Thanks

[2015-09-27 14:00] joede commented on #108
@RealRancor the `search_lucene` at the appstore still mentions OC8.1 as the intended release. What do you mean with *"the app is not shipped anymore in oC 8.1"*?
In my case, I never used it before 8.x. So If I enable it in an 8.1 installation, where is app install from? If `search_lucene` isn't compatible with OC8.1, this should be marked until the fix is available.

[2015-09-27 14:21] RealRancor commented on #108
@joede Just download https://download.owncloud.org/community/owncloud-8.1.3.tar.bz2 where you can see which files are "shipped" within the core packages and are updated after each oC release.

Everything else like calendar, contacts or search_lucene are pulled directly from apps.owncloud.com. And as the version there is not updated yet with the fix mentioned here you won't get an fix until some on

[2015-09-29 19:21] VicDeo commented on #108
v0.7.0. has been published at the app store meanwhile

[2015-10-01 19:59] VicDeo commented on #108
@joede Please reopen if  package for 8.1 from https://apps.owncloud.com/content/show.php?content=168709 does  not fixes this issue.

[2015-10-01 19:59] #108 closed

[2015-10-01 19:59] VicDeo commented on #109
@scream88 please try to update the app itself.

[2015-10-02 06:48] scream88 commented on #109
@VicDeo I'm already on 0.7.0 but it still doesn't work :(

I'm not sure what is the problem. After upgrade Owncloud to 8.1.3 it hat stop working. I deleted the app and downloaded the newest version from github.
I also deleted the "lucene_index" folder in every userfolder.
If I activate the app after, it creates the folder and some files in it. I can't see any indexing for new files and searching i

[2015-10-02 12:25] joede commented on #108
@VicDeo thanks a lot. I'l try it the next days.

[2015-10-03 09:15] joede commented on #108
@VicDeo reinstallation now works as expected. Thanks again. I couldn't test the functionality after the installation (search copied word was not found). How long does is take until the index is build?

[2015-10-27 20:51] AmiZya commented on #68
Same here. Anybody knows how to enable it ?

[2015-10-27 21:01] AmiZya commented on #10
Any update here please ?

[2015-10-28 09:38] butonic commented on #10
I will have a look for OC9.

[2015-10-29 09:54] DanScharon commented on #59
i can confirm this with ownCloud 8.0.8 and search_lucene 0.6.0

[2015-11-21 15:23] guidtz opened #111 "Indexing for sharing directory"
Hello,

   I have a directory in which I have a lot of files. For the owner user indexation is ok.
Now If I share this directory to users the indexation for users don't work. If I look in lucene_search directory, for the user there is a lot of cfs and sti files but in others users directory there is no cfs/cti files ...

There is a method to share indexation ?

Thanks

[2015-12-08 11:58] flynet70 commented on #68
+1 I need it

[2015-12-16 18:46] gerroon commented on #109
Hi

I cant get it to index anything. Maybe it is indexing but it sure does not find any document based on my searched. I even created a new user with couple pdfs that has indexable text in them.

I am using Debian Wheezy OC 8.13 and I just updated the lucene app to the latest release on this repo.

Thanks

[2015-12-20 12:09] sistlind commented on #68
+1

[2015-12-21 17:18] VicDeo opened #112 "index .doc files (binary Word 97–2003)"
Moved from https://github.com/owncloud/apps/issues/1292

we do not yet support .doc files (binary Word 97–2003).
a hack was posted on stackoverflow: http://stackoverflow.com/a/265017/828717 and
http://www.dannyherran.com/2011/02/read-word-documents-with-php-up-to-word-2003/

official MS documentation: http://msdn.microsoft.com/en-us/library/gg615596(v=office.14).aspx#UnderstandMS_DOC_ExtractText

[2015-12-28 03:45] NacreData commented on #111
This is a duplicate of Issue #10 I believe. Look there.

[2016-01-02 16:09] RealRancor opened #113 "Correctly release 0.7.0 for 8.2"
Hi,

on a current oC 8.2.2 installation the search lucene app is showing up as version 0.6.0 within "not enabled", even if the search_lucene folder within the /apps folder doesn't exist.

It seems this is caused because 0.7.0 is only tagged for 8.1 at https://apps.owncloud.com/content/show.php?content=168709 and 0.6.0 is provided by the "All versions" download (which includes 8.2).

cc @VicDeo

[2016-01-02 16:13] RealRancor commented on #113
It seems also the "All versions" download archive provides a wrong ocsid "166057" where "168709" should be correct. However this is already tracked at https://github.com/owncloud/search_lucene/issues/85

[2016-01-02 16:32] RealRancor commented on #85
Mhhh, that should be now fixed for quite some time. The appstore can now provide different downloads / versions for one single ocsid so it should be safe to use the new 168709 ocsid.

Another issue is, that the "All versions" download at https://apps.owncloud.com/content/show.php?content=168709 is still providing the old 166057 ocsid. Have raised https://github.com/owncloud/search_lucene/issues/11

[2016-01-09 02:57] NacreData commented on #10
I have a client who is interested in this work and we may be able to provide some programming time or other resources. We'd prefer to collaborate on work in progress and not duplicate work.

[2016-01-21 07:51] RealRancor commented on #113
@PVince81 @LukasReschke Do you guys have any idea who we can pull in here to fix this mess?

Probably not a good idea to provide such an outdated version to users, especially not for oC9 which might happen here as 0.6.0 don't has and max version.

[2016-01-21 09:18] PVince81 commented on #113
@butonic @karlitschek @LukasReschke  any idea?

[2016-01-21 11:00] karlitschek commented on #113
@butonic what can we do here?

[2016-01-30 16:06] RealRancor opened #114 "Add issue tracker link to appstore page"
https://apps.owncloud.com/content/show.php/Search+Lucene?content=168709

Would make sense to add the link to the issue tracker at that app page.

[2016-02-15 13:17] sarathnair commented on #109
I am experiencing the same issue on Owncloud v8.2.2. Also I cant' see much logs on search_lucene. I can only see 2 types of messages:

{"reqId":"5wshJVt3PZhtCjr3WHLI","remoteAddr":"172.16.2.99","app":"search_lucene","message":"background job optimizing index for rakesh","level":0,"time":"2016-02-15T18:40:59+00:00","method":"GET","url":"\/ges-drive\/cron.php"}
{"reqId":"5wshJVt3PZhtCjr3WHLI","remot

[2016-02-17 23:34] cmonteroluque commented on #10
@NacreData I suspect there is no duplicate work in place right now. Would you be able to provide some time for this?

[2016-02-18 00:08] NacreData commented on #10
Yes I have some time allocated for it over the next month or so, I will probably be starting next week. Do you have any ideas or direction for anything else to tell me that would make my efforts more successful?

devin
--
contact info: http://nacredata.com/devin

[2016-02-23 00:27] cmonteroluque commented on #10
@PVince81

[2016-02-23 09:20] PVince81 commented on #10
@butonic @VicDeo any hints ?

[2016-02-29 19:21] NacreData commented on #10
@cmonteroluque @PVince81 @butonic @VicDeo

Here's my first progress report. Having spent a bit less than one work day on it in actual hours, I have accomplished some hacks which seem to point to a working solution. This may not be the most elegant or robust solution, so I'm outlining it here so the community has a chance to help steer my direction. I have no prior experience working with OwnCloud

[2016-03-01 11:49] sparx82 opened #115 "Problem with non UTF-8 encoded PDFs"
Hi,

Parsing a PDF doesn't work if the strings inside the PDF are not UTF-8 encoded.

I have a PDF where the PDF parser returns an ANSI (that's what Notepad++ tells me) coded string containing special characters. This document is not indexed, maybe because the string is expected to be UTF-8 (document/pdf.php Line 45 and 47). If I encode the string ($body) to UTF-8 (using utf8_encode) before, it wo

[2016-03-02 10:24] DeepDiver1975 commented on #115
Please submit a PR so that we can review and test the change. Thanks a lot!

[2016-03-03 14:18] sparx82 commented on #115
I can do that but I need to figure out what's really wrong first. Just using utf8_encode is definitely not a proper solution as this only converts ISO-8859-1 to UTF-8. A quick Google search showed that there's maybe not an easy solution and as I'm not an character encoding specialist, this may take a while...

[2016-03-03 15:53] NacreData commented on #10
Looking today at how much more (compared to my hack described above) would be involved in doing it the "right" way described in "planned approach" at the top. It would help greatly to have the code used for "Initial testing indicates that query hits can be used to obtain the original document, update it with the updated list of users / groups who can acces the document and then delete & reinsert t

[2016-03-04 12:42] sparx82 commented on #115
I did some further investigation and it showed that it is either a bug in the PDF parser or the PDF I have is not according to the standard. The PDF parser should always return a UTF8 coded string but it doesn't do that with my PDF file.

[2016-03-04 12:42] #115 closed

[2016-03-07 15:20] cmonteroluque commented on #10
@butonic could you provide @NacreData that code?

[2016-03-07 15:39] scolebrook commented on #10
@NacreData Don't assume that the users home directory is named after their username. That's the default but is not guaranteed. In an AD backed system the default internal username will be the value of the objectGUID attribute, a long string of letters and numbers. The user_ldap app allows the home directory to be named after a different attribute as this is often much more convenient and certainly

[2016-03-07 16:58] NacreData commented on #10
Wonderful, thanks @scolebrook that's exactly the sort of help I'm hoping to find here. So much easier when open-source development is cooperative.

[2016-03-07 17:49] scolebrook commented on #10
Not a problem. Thanks for your hard work improving this feature.

[2016-03-09 10:13] RealRancor commented on #113
Ok, seems oC 8.2 and 9.0 won't get that old version 0.6.0 anymore:

https://api.owncloud.com/v1/content/data?version=8x2x0x0&categories=924&approved=all
https://api.owncloud.com/v1/content/data?version=9x0x0x0&categories=924&approved=all

so closing for now until a 8.2/9.0 compatible version is made available.

[2016-03-09 10:13] #113 closed

[2016-03-10 21:17] NacreData commented on #10
I have created a fork, and a branch within that fork, as a place to put my first commit. The branch is here: https://github.com/NacreData/search_lucene/tree/shared-files I have modified the file https://github.com/NacreData/search_lucene/blob/shared-files/lucene/indexer.php as shown in the commit https://github.com/NacreData/search_lucene/commit/dbb99c7031586ce18406046b119482d60fcc326b#diff-593696

[2016-03-21 10:33] blackhold opened #118 "OC9 + search_lucene (broken link 404)"
As told in OC forum https://forum.owncloud.org/viewtopic.php?f=38&t=34471

Please help us by providing the following info. Before posting please also check the pinned "Known issues" thread.

Steps to reproduce
1. Do a search on search box (for example example.odt)
2. Click on a file
3. The link is: https://cloud.capa8.net/files/index.php ... xample.odt
4. The link should be: https://cloud.capa8.ne

[2016-03-21 15:12] scolebrook opened #119 "Cron indexing errors"
### Steps to reproduce
Enable search_lucene app

### Expected behavior
Cron.php should complete successfully without errors being emailed to root

### Actual behaviour
We enabled the app (version 0.7.0) for the first time after our upgrade to 8.2.3 and we're getting errors back from cron. This is the cron output that gets sent by email, sometimes every 15 minutes (our sched for cron.php), sometime

[2016-03-21 16:02] blackhold commented on #118
Trying to fix it myself I found that appears 2 searches, one of the lucene and the other of owncloud, now no one of both are working.

/var/www/owncloud/apps/search_lucene/search/luceneresult.php
IS:
                 $this->link = \OCP\Util::linkTo(
                        'files',
                        'index.php',
                        array('dir' => dirname($this->path), 'scrollto' => $this

[2016-03-24 21:09] blackhold commented on #118
Hi, some clue?

Thanks!

[2016-03-25 11:22] ianvanwijk commented on #118
Maybe a fix for your problem. I am going to test it myself.
https://github.com/owncloud/core/commit/3c06b08c92245ccf20f8121bbb932145602edbe6

[2016-03-25 11:59] blackhold commented on #118
yeaww!!! it worked! :D

thanks you much! :) :+1:

[2016-03-30 18:49] NacreData commented on #10
Committed changes to use one master-index, not per-user indexes, filtering results by user-name attributes based on ownership/sharing permissions.
https://github.com/NacreData/search_lucene/tree/shared-files
https://github.com/NacreData/search_lucene/commit/ca087ad2c80bdab13c17076bbbcf585c370ed9f7

Your review, help, critique and help are encouraged.

[2016-04-01 13:37] NacreData commented on #10
I think the next thing I need to do is use a "hook" or get an "Event" notification for when files and folders are shared/unshared so the index can be updated. Does anyone know where the proper way to do that for sharing changes is documented, or other code which has a working example of getting capturing those events?

[2016-04-17 01:40] NacreData commented on #118
Thanks for the link; I have updated this in my pull request which addresses this issue as a secondary one to the primary goal of allowing searches across shared files - see branch https://github.com/NacreData/search_lucene/tree/shared-files and pull request https://github.com/owncloud/search_lucene/pull/120

[2016-04-17 01:49] NacreData commented on #10
The code I have at https://github.com/NacreData/search_lucene/tree/shared-files is now working for me to search across shared files. This does the work to move the index to a combined/site-wide index and then use user-specific file attributes to filter the results. I have submitted a pull request <https://github.com/owncloud/search_lucene/pull/120>. Much of what I've done could probably be done in

[2016-04-19 15:15] PVince81 commented on #10
@georgehrke mind having a look at the above comments ?

[2016-04-22 15:02] PVince81 commented on #10
@georgehrke ?

[2016-04-22 18:59] georgehrke commented on #10
I'll take a look Monday when I'm back from vacation

Please excuse my brevity and typos.
Sent from my mobile

Please excuse my brevity and typos.
Sent from my mobile

[2016-05-04 14:33] NacreData commented on #119
We were also having issues where cron indexing no longer works. The attached patch made cron indexing work for me, although the Zend-related errors noted above still occur. I imagine the next thing to do there might be to try updating the included Zend version?

Anyway, if this patch is at all helpful we could make it into a pull request, though movement on pull requests seems slow and I'm not sur

[2016-05-30 13:39] sirio81 opened #122 "Owncloud supported versions"
Hi all, looking at [this page](https://apps.owncloud.com/content/show.php?content=168709&forumpage=1) it seems owncloud 8.2.X and 9.X is not supported by search_lucene.
Is that correct?

[2016-05-31 06:14] strugee commented on #122
Yes. Glance through the issue tracker and you'll see issues about newer version support.

[2016-06-11 09:10] dbeniamine commented on #59
Same here with owncloud 9.0.2

    Array to string conversion at /var/www/owncloud/apps/search_lucene/3rdparty/zendframework/zendsearch/library/ZendSearch/Lucene/Storage/File/AbstractFile.php#341

[2016-07-06 23:37] totalcaos commented on #109
There is a post on the nextcloud forums about a fix for Lucene search posted by asmordean

I haven't tried it yet but it should work.  Link to original post: [https://help.nextcloud.com/t/app-search-lucene-full-text-search-for-pdf-txt-etc/1436/4]

[2016-07-14 06:58] janis91 opened #123 "question is answered"
forget it..

[2016-07-21 19:25] #123 closed

[2016-07-25 06:49] feuse8 commented on #10
Any help needed on this issue? Can you tell anything about the actual status?

[2016-07-26 01:05] NacreData commented on #10
@feuse8 help would be awesome! As far as I can tell, the best place to look for the current status is to look at the last two comments in the pull-request thread here: https://github.com/owncloud/search_lucene/pull/121 I am happy to help with explaining what I've done and what I'm thinking to help move this forward, and I'll be writing more code if/when possible over the next month or two.

[2016-08-26 11:52] pierrejochem commented on #106
It seems to be that this is no more needed :disappointed:

[2016-08-26 11:52] #106 closed

[2016-09-17 18:59] #18 closed

[2016-09-17 18:59] #39 closed

[2016-09-26 10:15] #40 closed

[2016-09-26 10:15] #50 closed

[2016-10-06 10:33] #62 closed

[2016-10-06 10:33] #49 closed

[2016-10-11 15:41] #70 closed

[2016-10-11 15:41] #41 closed

[2016-11-30 13:49] shaneonabike opened #126 "Update app store version"
I realize this is probably not a _huge_ issue, but I was confused initially and actually I can't really upgrade this module which sucks.

**The Issue**

When I upgraded to 9.1.2 Full Text Search indicates there is an Update to 0.6.0

**The problem**

When I attempt to update I _believe_ it verifies with the app store which is out of date and therefore can never perform the actual update

**The Err

[2017-02-03 14:21] Gardakant commented on #126
I have the exact same issue, and it's really annoying :)
Use OC 9.1.4 right now

[2017-05-11 15:40] AsimPervez93 commented on #10
any update on this?

[2017-05-11 16:00] NacreData commented on #10
The non-profit funding my work on this is waiting for new funding, so
I've not been working on it recently.

-- devin

On 11 May 2017, at 11:40, AsimPervez93 wrote:

devin
ديفين كيرتاص
--
contact info: https://nacredata.com/devin

• Online Task Management software: https://www.next-task.com
• Amazing Tie-Dye Tee-shirts: https://www.icedyedesigns.com
• Support progressive climate politics: https://